.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg") center no-repeat;
  background-size: cover;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 80px;
  object-fit: contain;
  padding-left: 20px;
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  top: 20px;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__body {
    z-index: 1;
    position: absolute;
    top:30%;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.loginScreen__body > h1 {
    font-size: 3.2rem;
    margin-bottom: 20px;
}
.loginScreen__body > h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body > h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.loginScreen__input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
    border-radius: 10px;
}

.loginScreen__getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    cursor: pointer;
}

.loginScreen__input {
    margin: 20px;
}