.plansScreen {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
}

.plansScreen__info > button {
  padding: 6px 10px;
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 600;
  background-color: #e50914;
  text-align: center;
  cursor: pointer;
}

.plansScreen__info > h2 {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  flex-direction: column;
  padding: 10px;
}

.plansScreen__info > button:hover {
  background-color: #fff;
  color: #e50914;
}

.plansScreen__info > h5 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
  flex-direction: column;
}
