.plansScreen > h5 {
  padding-top: 10px;
}

.plansScreen__info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}

.plansScreen__infor > h5:hover {
  opacity: 1;
  cursor: pointer;
}

.plansScreen__info > button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
